@font-face	{
	font-family: scr14;
	src: url(../Scr14.woff2);
}
body	{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("img/space.gif");
}
h1	{
	color:#FF00FF;
	text-align:center;
}
p	{
	font-family:scr14;
	font-size:14px;
	text-rendering:geometricPrecision;
	color:#FFFFFF;
	text-align:center;
}
table	{
	border:4px solid #990099;
}

.center	{
	margin-left:	auto;
	margin-right:	auto;
}
