body	{
	background-image: url("img/space.gif");
}
h1	{
	color:#FF00FF;
	text-align:	center;
}
p	{
	color:#FFFFFF;
	text-align:	center;
}
table, th, td	{
	border:4px solid #FF00FF;
}

.center	{
	display:	block;
	margin-left:	auto;
	margin-right:	auto;
}
