body	{
	max-width: 1024px;
	max-height: 768px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("img/space.gif");
}
h1	{
	color:#FF00FF;
	text-align:	center;
}
p	{
	color:#FFFFFF;
	text-align:	center;
}
table	{
	border:4px solid #7F007F;
}
td, th	{
	border:2px solid #EE00FF;
}

.center	{
	display:	block;
	margin-left:	auto;
	margin-right:	auto;
}
